In [1]:
#importing the required labaries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#reading the dataset 

dataset = pd.read_csv('../Datasets/SzegedWeatherHistory.csv')

In [3]:
#displaying the dataset first 10 records 

dataset.head(10)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258,14.9569,0,1016.66,Partly cloudy throughout the day.
6,2006-04-01 06:00:00.000 +0200,Partly Cloudy,rain,7.733333,5.522222,0.95,12.3648,259,9.9820,0,1016.72,Partly cloudy throughout the day.
7,2006-04-01 07:00:00.000 +0200,Partly Cloudy,rain,8.772222,6.527778,0.89,14.1519,260,9.9820,0,1016.84,Partly cloudy throughout the day.
8,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259,9.9820,0,1017.37,Partly cloudy throughout the day.
9,2006-04-01 09:00:00.000 +0200,Partly Cloudy,rain,13.772222,13.772222,0.72,12.5258,279,9.9820,0,1017.22,Partly cloudy throughout the day.

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  int64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  int64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 8.8+ MB

In [5]:
dataset.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [6]:
# Need to process the dataset. 

# Loud Cover coloumn is 0 for all the samples and hence can be ignored for training and testing.

# Formatted Date to be converted to three seperate coloumns Year, month, date 

# Encoding the catagorical date i.e  Summary , Precip Type

del dataset['Loud Cover']

In [7]:
dataset.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,1046.380000

In [8]:
# Formatted Date to be converted to three seperate coloumns Year, month, date

dataset['Formatted Date'] = pd.to_datetime(dataset['Formatted Date'],utc=True)

In [9]:
dataset['year'] = dataset['Formatted Date'].dt.year
dataset['month'] = dataset['Formatted Date'].dt.month
dataset['day'] = dataset['Formatted Date'].dt.day

In [10]:
dataset.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,year,month,day
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,1015.13,Partly cloudy throughout the day.,2006,3,31
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,1015.63,Partly cloudy throughout the day.,2006,3,31
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,1015.94,Partly cloudy throughout the day.,2006,4,1
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,1016.41,Partly cloudy throughout the day.,2006,4,1
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,1016.51,Partly cloudy throughout the day.,2006,4,1

In [11]:
# chossing the X and y

X = dataset.drop(['Formatted Date', 'Temperature (C)'], axis=1)
y = dataset['Temperature (C)']

In [13]:
X

,Summary,Precip Type,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,year,month,day
0,Partly Cloudy,rain,7.388889,0.89,14.1197,251,15.8263,1015.13,Partly cloudy throughout the day.,2006,3,31
1,Partly Cloudy,rain,7.227778,0.86,14.2646,259,15.8263,1015.63,Partly cloudy throughout the day.,2006,3,31
2,Mostly Cloudy,rain,9.377778,0.89,3.9284,204,14.9569,1015.94,Partly cloudy throughout the day.,2006,4,1
3,Partly Cloudy,rain,5.944444,0.83,14.1036,269,15.8263,1016.41,Partly cloudy throughout the day.,2006,4,1
4,Mostly Cloudy,rain,6.977778,0.83,11.0446,259,15.8263,1016.51,Partly cloudy throughout the day.,2006,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,Partly Cloudy,rain,26.016667,0.43,10.9963,31,16.1000,1014.36,Partly cloudy starting in the morning.,2016,9,9
96449,Partly Cloudy,rain,24.583333,0.48,10.0947,20,15.5526,1015.16,Partly cloudy starting in the morning.,2016,9,9
96450,Partly Cloudy,rain,22.038889,0.56,8.9838,30,16.1000,1015.66,Partly cloudy starting in the morning.,2016,9,9
96451,Partly Cloudy,rain,21.522222,0.60,10.5294,20,16.1000,1015.95,Partly cloudy starting in the morning.,2016,9,9
96452,Partly Cloudy,rain,20.438889,0.61,5.8765,39,15.5204,1016.16,Partly cloudy starting in the morning.,2016,9,9

In [14]:
y

0         9.472222
1         9.355556
2         9.377778
3         8.288889
4         8.755556
           ...
96448    26.016667
96449    24.583333
96450    22.038889
96451    21.522222
96452    20.438889
Name: Temperature (C), Length: 96453, dtype: float64

In [33]:
#  Encoding the catagorical date i.e  Summary , Precip Type

from sklearn.preprocessing import LabelEncoder

In [36]:
# Select categorical columns
categorical_columns = ['Precip Type', 'Summary']

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Apply LabelEncoder to categorical columns
for column in categorical_columns:
    X[column] = label_encoder.fit_transform(X[column])

In [37]:
print(X)

       Summary  Precip Type  Apparent Temperature (C)  Humidity  \
0           19            0                  7.388889      0.89
1           19            0                  7.227778      0.86
2           17            0                  9.377778      0.89
3           19            0                  5.944444      0.83
4           17            0                  6.977778      0.83
...        ...          ...                       ...       ...
96448       19            0                 26.016667      0.43
96449       19            0                 24.583333      0.48
96450       19            0                 22.038889      0.56
96451       19            0                 21.522222      0.60
96452       19            0                 20.438889      0.61

       Wind Speed (km/h)  Wind Bearing (degrees)  Visibility (km)  \
0                14.1197                     251          15.8263
1                14.2646                     259          15.8263
2                 3.9284                     204          14.9569
3                14.1036                     269          15.8263
4                11.0446                     259          15.8263
...                  ...                     ...              ...
96448            10.9963                      31          16.1000
96449            10.0947                      20          15.5526
96450             8.9838                      30          16.1000
96451            10.5294                      20          16.1000
96452             5.8765                      39          15.5204

       Pressure (millibars)  Daily Summary  year  month  day
0                   1015.13            197  2006      3   31
1                   1015.63            197  2006      3   31
2                   1015.94            197  2006      4    1
3                   1016.41            197  2006      4    1
4                   1016.51            197  2006      4    1
...                     ...            ...   ...    ...  ...
96448               1014.36            170  2016      9    9
96449               1015.16            170  2016      9    9
96450               1015.66            170  2016      9    9
96451               1015.95            170  2016      9    9
96452               1016.16            170  2016      9    9

[96453 rows x 12 columns]

In [39]:
X.describe()

,Summary,Precip Type,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,year,month,day
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.00000,96453.000000,96453.000000
mean,16.006024,0.121780,10.855029,0.734899,10.810640,187.509232,10.347325,1003.235956,129.308057,2011.00029,6.523001,15.727100
std,4.361497,0.343032,10.696847,0.195473,6.913571,107.383428,4.192123,116.969906,56.275398,3.16216,3.448501,8.802216
min,0.000000,0.000000,-27.716667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2005.00000,1.000000,1.000000
25%,17.000000,0.000000,2.311111,0.600000,5.828200,116.000000,8.339800,1011.900000,95.000000,2008.00000,4.000000,8.000000
50%,18.000000,0.000000,12.000000,0.780000,9.965900,180.000000,10.046400,1016.450000,118.000000,2011.00000,7.000000,16.000000
75%,19.000000,0.000000,18.838889,0.890000,14.135800,290.000000,14.812000,1021.090000,181.000000,2014.00000,10.000000,23.000000
max,26.000000,2.000000,39.344444,1.000000,63.852600,359.000000,16.100000,1046.380000,213.000000,2016.00000,12.000000,31.000000

In [41]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [42]:
X_train

,Summary,Precip Type,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,year,month,day
48733,17,0,23.866667,0.69,12.3648,340,11.2700,1009.52,111,2011,6,29
929,19,0,31.327778,0.41,10.7709,165,10.3523,1011.73,205,2006,8,17
84801,19,0,18.866667,0.40,24.3754,1,16.1000,1025.47,204,2015,5,11
21229,17,0,24.883333,0.37,17.1304,300,9.9820,1017.00,132,2008,7,10
21965,19,0,14.377778,0.90,6.4400,340,15.6492,1019.79,209,2008,6,10
...,...,...,...,...,...,...,...,...,...,...,...,...
21440,19,0,19.633333,0.67,13.3952,304,9.9820,1016.48,204,2008,7,19
73349,18,0,3.827778,0.87,20.2699,130,9.8049,1003.58,111,2014,1,21
50057,19,0,22.066667,0.65,20.7046,49,11.2700,1020.90,111,2011,5,23
5192,2,1,-10.138889,0.89,38.0765,20,0.3542,1014.71,18,2006,3,13
77708,18,0,16.088889,0.84,6.5205,354,14.9086,1023.58,132,2014,10,1

In [43]:
y_train

48733    23.866667
929      31.211111
84801    18.866667
21229    24.883333
21965    14.377778
           ...
21440    19.633333
73349     7.200000
50057    22.066667
5192     -2.200000
77708    16.088889
Name: Temperature (C), Length: 77162, dtype: float64

In [46]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()

In [47]:
regressor.fit(X_train,y_train)

LinearRegression()

In [48]:
y_pred = regressor.predict(X_test)

In [52]:
from sklearn.metrics import  r2_score

accuracy = r2_score(y_test,y_pred)

In [53]:
print('Accuracy {:.2f}{}'.format(accuracy*100,'%'))

Accuracy 99.01%